*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin:0 auto;
    width: 1000px;
}
.img-face {
    width: 50px ;
}



/* Three columns side by sode */
.column {
    float: left;
    width: 20%;
    margin-bottom: 0 8px;
    
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a "card" effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.671);
    transition: 0.40s;
    background-color: hsla(144, 19%, 39%, 0.205);
}
/* On mouse-over, add a deeper shadow*/
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}
/*Add some padding inside the card container*/
.container{
    padding: 2px 16px;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}
/* clear floats */
.container::after, .row::after{
    content: "";
    clear: both;
    display: table;
}

.title-info {
    color: grey;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 6px;
    color: hsla(0, 0%, 100%, 0.521);
    background-color: #1c0e208e;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    
}

.button:hover {
    background-color: #555;
    
}
.Members {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color:white;
    background-color: black;
    width: 32%;
}

.team{
  margin: 25px 50px;
  border-radius: 10px;
  background: white;
  
}

/*Omklthom section*/
.introduction {
    background-image: url("https://www.clker.com/cliparts/K/B/S/g/S/Z/cute-pink-owl-hi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100px;
    background-position-x: 750px;
    background-position-y: 320px;
    background-size: 600px ;
    margin: 50px 50px 25px 50px;
    /* position: fixed; */
    border-radius: 10px;
    background-color:white;
    /* padding:50px; */
    font-size: larger;
}
.introduction ul{
  list-style-position: inside;
  padding: 10px;
}

/* .title {
    color: white;
    background-color: black;
    font-size: 40px;
    padding: 15px;
    text-align: center;
    
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-image: url("books1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
/* navigation bar style*/
div.logo::after{
  position: relative;
  bottom:0;
  left:0;
  content: '';
  width: 100%;
  height: 5px;
  background: red;
  display: block;
}
nav{
  display: flex;
  height: 100px;
  width: 100vw;
  background: rgb(12, 12, 12);
  justify-content: space-around;
  /* padding: 0 50px; */
  flex-wrap: wrap;
  align-items: center;
}

nav .logo{
  color: white;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font: 500 18px;
  padding: 8px 15px;
  letter-spacing: 1px;
}

nav ul li a:hover{
  color: red;
}

@media screen and (max-width: 900px){
nav{
  padding: 0px 20px;
}

nav .logo{
  font-size: 24px;
}

nav ul li{
  margin: 0;
}

nav ul li a{
  font: 500 14px;
  padding: 4px 10px;
  /* letter-spacing: 1px; */
}

}
@media screen and (max-width: 480px){
  
  nav{
    display: block;
  }

  nav .logo{
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
  }

 nav ul{
   display: inline;
 }

 nav ul li{
   text-align: center;
 }
  
  nav ul li a{
    font: 200 12px;
    padding: 4px 10px;
  }
}

/*About Us style*/

 .about{
  border-radius: 10px;
  margin: 25px 50px;
  background: white;
}
 .about p, .introduction p, .introduction h3{
  font-size: x-large; 
  padding: 10px;  
  }

.about h1, .title{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
    background-color: black;
    color:white;
    text-align: center;
}

.about h1::after, .introduction h1::after{
  position: relative;
  bottom:0;
  left:0;
  content: '';
  width: 100%;
  height: 5px;
  background: red;
  display: block;
}

.about strong{
    font-style: italic;
}
  
  footer{
    background: black;
    color: white;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: smaller;
      font-style: italic;
  }
  

  
 
  
  
